- @site_name                     = 'New York Squared Real Estate Group'
- @title_delimiter               = " - "
- @meta_description              = nil
- @meta_keywords                 = nil
- @meta_title                    = ''
- @meta_title                    = current_page == '/index.html' ? @site_name : full_page_title

!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; CHARSET=utf-8"}/
    %title= @meta_title
    %meta{:name => "description", :content => @meta_description}
    %meta{:name => "keywords", :content => @meta_keywords}
    = stylesheets :screen, :media => 'screen, projection'
    = stylesheets :print, :media => 'print'
    /[if lt IE 8]
      = stylesheets :ie, :media => 'screen, projection'
    = javascripts 'base'

  %body{:id => @body_id, :class => @body_class}
    #logo
      %h1
        %a{:href => '/'}= @meta_title 

    #content
      = yield
